@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;0,800;1,400&display=swap');

:root {
    --main-bg-color: #1d1f21;
    --accent-color: #2bbc8a;
    --summary-color: #8a2bbd;
    --main-color: #c9cacc;
    --dim-color: #666666;
    --default-spacing: 0.5em;
    --glitch-bg-color: #4242e6;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-family: 'JetBrains Mono', monospace;
}

header {
    font-weight: 900;
    min-height: 20vh;
    display: flex;
    padding: 0 2em;
    justify-content: center;
    align-items: center;
    margin: 4em 0;
}

section {
    margin-bottom: 1.8em;
}

h1 {
    font-size: 6em;
}

h2 {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

p {
    margin-bottom: 2em;
}

main {
    max-width: 1000px;
    padding: 0 2em;
    margin: 0 auto;
}

summary {
    cursor: pointer;
    text-decoration: solid underline var(--summary-color);
    list-style-type: none;
}

summary::-webkit-details-marker {
    display: none; /* Chrome */
}

details summary:hover {
}

details[open] summary {
    margin-bottom: 2em;
}

details[open] {
    margin-top: 2em;
    margin-bottom: 2em;
}

ol {
    list-style: decimal inside;
}

li {
    margin-bottom: 0.5em;
}

em {
    font-style: italic;
}

strong {
    font-weight: 800;
}

footer {
    text-align: center;
    margin-bottom: 100px;
}

footer > a {
    margin: 20px 10px;
}

video {
    display: block;
    width: 100%;
    height: 400px;
}

.dim {
    color: var(--dim-color);
}

.accent {
    color: var(--accent-color);
}

.hide {
    display: none;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 3em;
    }

    footer {
        text-align: left;
        padding: 0 2em;
    }

    footer > a {
        display: block;
        margin: 20px 0px;
    }
}

.glitch {
    animation: glitch 1s linear infinite;
}

@keyframes glitch {
    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }
    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

.glitch:before,
.glitch:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

.glitch:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
    2%,
    64% {
        transform: translate(2px, -2px);
    }
    4%,
    60% {
        transform: translate(-2px, 2px);
    }
    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

.glitch:after {
    animation: glitchBottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom {
    2%,
    64% {
        transform: translate(-2px, 0);
    }
    4%,
    60% {
        transform: translate(-2px, 0);
    }
    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(5deg);
    }
    95% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.wiggle {
    animation: wiggle 1.5s;
}
